.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;

    justify-content: space-between;
    align-items: baseline;
  }
}

.container-tabl {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 165px;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    gap: 70px;
    margin-bottom: 0;
  }
}

.footer {
  padding: 60px 0;
  background-color: var(--background-accent);
}

.footer__contact {
  text-align: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
  color: var(--white);
}

.footer__title {
  margin-bottom: 20px;

  color: var(--white);
  text-transform: uppercase;

  @include fonts(14px, 16px);
}

.footer-social {
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__social-list {
  justify-content: center;
}

.footer__social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white);

  transition: background-color 250ms var(--transition-cubik);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }
}

.footer__button {
  padding: 10px 31px;

  @media screen and (min-width: 1200px) {
    padding: 10px 28px;
  }
}
