.header {
    border-bottom: 1px solid #ececec;
}
.header-logo {

    color: var(--text-color-main);

    @media screen and (min-width: 768px) {
    margin-right: 88px;
     }

    @media screen and (min-width: 1200px){
        margin-right: 96px;
    }
}
.header-container {
    display: flex;
    align-items: center;
}