.portfolio {
    @extend %section;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
  
    @media screen and (min-width: 768px) {
    margin-top: 30px;
    }
  
    @media screen and (min-width: 1200px) {
    margin-top: 50px;
    }
  
}

.portfolio-item {
  @media screen and (max-width: 767px) {
   flex-basis: 100%; 
  }

 @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3);
    }
}


.portfolio-item__link {

  display: flex;
  flex-direction: column;

  height: 100%;

  transition: box-shadow 250ms var(--transition-cubik);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-text__title {
  margin-bottom: 4px;
 
@include fonts(18px, 36px, 700, 0.06em);
  color: var(--text-color-main);
}

.portfolio-text__filter {
  color: var(--text-color);
 
@include fonts(16px, 30px);
}

.portfolio-text {
  flex-grow: 1;
  
  padding: 20px 24px;

  border: 1px solid var(--border-portfolio);
  border-top: none;
}

.portfolio-item__box {
  position: relative;
  overflow: hidden;
}
