.button {
    // min-width: 200px;
    min-height: 50px;
    // padding-top: 10px;
    // padding-bottom: 10px;

    background-color: var(--accent-text-color);
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;

    font-family: inherit;
    
    @include fonts(16px, 30px, 700, 0.06em);
}